{% extends 'base.html.twig' %}

{% block title %}Hallyucination - Ta source française sur la vague Hallyu !{% endblock %}

{% block body %}
    <section class="banner row justify-content-center container-fluid">
        <div>
            <a href="#">
                <h2 class="banner-title">L'article du moment</h2>
                <img src="https://via.placeholder.com/500x500">
            </a>
        </div>
        <div>
            <a href="#">
                <h2 class="banner-title">Le sondage du moment</h2>
                <img src="https://via.placeholder.com/500x500">
            </a>
        </div>
        <div>
            <a href="#">
                <h2 class="banner-title">L'analyse du moment</h2>
                <img src="https://via.placeholder.com/500x500">
            </a>
        </div>
    </section>
    <section class="text-center">
        <h1>Hallyucination</h1>
        <p class="introduction">Bienvenue sur Hallyucination, ta source de news sur la vague Hallyu ! Au programme: K-music, Dramas, Cinéma,
            Concerts et plus encore...</p>
    </section>
    <section class="top-section">
        <h2 class="subtitle">Ca vient de sortir</h2>
        {% for article in article %}
        <div class="card border-primary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
                <img src="{{ article.picture }}">
                <h4 class="card-title">{{ article.title }}</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}
