{% extends 'base.html.twig' %}

{% block title %}Hallyucination - Ta source française sur la vague Hallyu !{% endblock %}

{% block body %}
    <section class="banner row justify-content-center container-fluid">
        <div>
            <a href="#">
                <h2 class="banner-title">L'article du moment</h2>
                <img src="https://via.placeholder.com/500x500">
            </a>
        </div>
        <div>
            <a href="#">
                <h2 class="banner-title">Le sondage du moment</h2>
                <img src="https://via.placeholder.com/500x500">
            </a>
        </div>
        <div>
            <a href="#">
                <h2 class="banner-title">L'analyse du moment</h2>
                <img src="https://via.placeholder.com/500x500">
            </a>
        </div>
    </section>
{% endblock %}
