$primary-color: #fb9985;
$secondary-color: #b3e3b5;
$dark: #48484a;
$light: #ffffff;
$primary-font: 'Abel', sans-serif;
$secondary-font: 'Rubik Mono One', sans-serif;
$text-font: 'Barlow Semi Condensed', sans-serif;