@import "~bootstrap/scss/bootstrap";
@import "_vars.scss";
@import "~bootswatch/dist/minty/variables";
@import "~bootswatch/dist/minty/bootswatch";
@import url('https://fonts.googleapis.com/css?family=Abel|Barlow+Semi+Condensed|Rubik+Mono+One&display=swap');

.navbar {
    background-color: $primary-color;
    border-bottom: solid 6px $secondary-color;
    font-family: $primary-font;
    .navbar-toggler {
        color: $light;
        font-size: 2em;
    }
    .nav-item {
        margin-left: 18vw;
        font-size: 20pt;
        a {
            color: $light;
            font-weight: 400;
        }
    }
}

.banner{
    background-image: url('../images/leaves.png');
    .banner-title{
        position:absolute;
        margin-top: 15vh;
        font-family: $text-font;
        font-weight: bold;
        color: $light;
        font-size: 2.5em;
    }
}