{% extends 'base.html.twig' %}

{% block title %}Hallyucination - Articles{% endblock %}

{% block body %}
<section>
    <h1></h1>
    {% for article in articles %}
        <div class="card border-primary mb-3">
            <div class="card-header">{{ article.title }}</div>
            <a href="#"><div class="card-body">
                    <img src="{{ article.picture }}">
            </a>
            <h4 class="card-title"></h4>
            <p class="card-text">{{ article.date | date('d-m-Y') }}</p>
        </div>
        </div>
    {% endfor %}
</section>
{% endblock %}
